<div class="container-fluid">
  <div class="row" style="background-color:rgba(49,158,197,255); font-size: 40px;">
    <div class="col-1">
      <img src="https://scontent.fbog4-1.fna.fbcdn.net/v/t39.30808-6/301885308_427056529403843_9099589510592836245_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Zg974KmgkwkQ7kNvgGbA7wg&_nc_ht=scontent.fbog4-1.fna&oh=00_AYC81J_P5Dpe6JoclFl8FYl5N7rl_6dYV7YzgzF7EBz6fg&oe=664C73B3" width="40" height="40" style="margin-top: -9px; margin-left: 10px;">
    </div>
    <div class="col-2">
      <h1>Tv series</h1>
    </div>

  </div>
  <div class="row">
  </div>

  <div class="row" style=" margin-left: 60px; margin-top: 40px">
    <div class="col-12">
      <app-serie-list></app-serie-list>
    </div>

</div>